@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');
.texts{
    font-family: "Kumar One", serif;
    font-size: 40px;
    line-height: 100px;
    font-weight: 400;
}

.container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100px 100px 100px;
}

.input{
    grid-row: 1/2;
    grid-column: 1/2;
}

.output{
    grid-row: 1/2;
    grid-column: 3/4;
}

.picture{
    grid-row: 2/3;
    grid-column: 2/3;
    width: 397px;
    height: 397px;
}

.inputcsv{
    grid-row: 3/4;
    grid-column: 1/2;
}

.graph{
    grid-row: 3/4;
    grid-column: 3/4;
}

.gridTexts{
    font-family: "Kumar One", serif;
    font-size: 24px;
    line-height: 60px;
    font-weight: 400;
}

.inputClass2{
    border-radius: 51px;
    width: 300px;
    height: 20px;
    background-color: #D9D9D9;
}

.inputCSV2{
    font-family: serif;
    background-color: #CBD5E1;
    font-weight: bold;
    width: 300px;
    height: 20px;
    font-size: medium;
    line-height: normal;
}

.TopClass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
